<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=uft-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <title>Title</title>
    <!-- bootstrap4引用-->
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script src="./jquery.min.js"></script>
    <script src="./popper.min.js"></script>
    <script src="./bootstrap.min.js"></script>
    <script src="./pdf.min.js"></script>
    <!-- JQuery引用-->
    <script src="./jquery-latest.js"></script>
    <!-- 引入美化彈出框 -->
    <link rel="stylesheet" type="text/css"
          href="./jquery-confirm.min.css">
    <script src="./jquery-confirm.min.js"></script>
    <script language="javascript">
        //防止页面后退
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });

                function deleteTempPngAndClosed() {
                    var update_db_filename = $("#update_db_filename").val();
                    $.ajax({
                        url: '/deleteTempImageFile',
                        type: 'POST',
                        data : {"update_db_filename":update_db_filename},
                        //async: true,
                        //cache: false,
                        success: function (data) {
                            $.dialog({
                                title: '感謝您的使用!',
                                content: '即將離開電子簽章系統',
                                type: 'blue',
                                typeAnimated: true,
                            });
                            setTimeout("window.location.href=\"about:blank\";window.close();",2000);
                        },
                        error: function (data) {

                        }
                    });
                }
    </script>
</head>


<body>
<div class="container-fluid">
    <div class="row" style="height: 70%" id="pdf_viewer">
        <!--
        <iframe src="pdfbox_image.png" width="100%" height="100%" style="border: none;">
        </iframe>
        -->
                <th:block th:each="i: ${#numbers.sequence(0, tempPNGIndex)}">
                    <img  th:src="@{${'image' + #request.getAttribute('req') + i + '.png'}}" alt="pdf_image" border="1" style="width:auto;max-width: 100%"/>
                </th:block>


    </div>

    <form action="" name="form" method="post">
        <div class="row" style="height: 60px">
            <input type="hidden" th:value="${update_db_filename}" id="update_db_filename"/>
            <button type="button" class="btn btn-primary btn-block btn-lg" id="btn" onclick="deleteTempPngAndClosed()">
                請務必再次確認簽章結果，點選確認後離開電子簽章頁面
            </button>
        </div>
    </form>
    <!--
    <div class="row" id="showResult" class="text-light bg-info text-lg-center" style="width: 100%">
    </div>
    -->
</div>


</body>
</html>