<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Signature Pad demo</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- bootstrap4引用-->
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script src="./jquery.min.js"></script>
    <script src="./popper.min.js"></script>
    <script src="./bootstrap.min.js"></script>
    <!-- JQuery引用-->
    <script src="./jquery-latest.js"></script>

    <!-- blockUI引用-->
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>-->
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>-->

    <!-- 引入美化彈出框 -->
    <link rel="stylesheet" type="text/css"
          href="./jquery-confirm.min.css">
    <script src="./jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="signature-pad.css">

    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="ie9.css">
    <![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39365077-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script language="Javascript">
        $(function () {

            self.moveTo(0, 0);           //設定與螢幕關係位置
            self.resizeTo(screen.width, screen.height);          //設定蹦現視窗大小

        });
    </script>
</head>
<script type="text/javascript">
    history.go(1);
</script>
<body onselectstart="return false">
<!--
<a id="github" style="position: absolute; top: 0; right: 0; border: 0" href="https://github.com/szimek/signature_pad">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>
-->

<div id="signature-pad" class="signature-pad">
    <div class="signature-pad--body">
        <canvas></canvas>
    </div>
    <div class="signature-pad--footer">
        <div class="description" style="font-size: x-large">此為電子簽章系統，請於上方簽名</div>

        <div class="signature-pad--actions">
            <div>
                <button type="button" class="button clear btn btn-outline-primary btn-lg" data-action="clear">清除</button>
                <!--
                <button type="button" class="button" data-action="change-color">Change color</button>
                <button type="button" class="button" data-action="undo">Undo</button>
                -->

            </div>
            <div>
                <button type="button" class="button save btn btn-outline-primary btn-lg" data-action="save-png"
                        style="margin-bottom:20px">儲存
                </button>
                <!--
                <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
                <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
                -->
            </div>
        </div>
    </div>
</div>
<form action=""  id="form" method="post" enctype="multipart/form-data" th:object="${signature}">

    <input type="hidden" th:field="*{filename}" id="filename">
    <input type="hidden" th:field="*{filepath}" id="filepath">
    <input type="hidden" th:field="*{usertype}" id="usertype">
    <input type="hidden" th:field="*{issigned}" id="issigned">
    <input type="hidden" th:field="*{totalpages}" id="totalpages">
    <input type="hidden" th:value="${current_db_pdfname!=''}?${current_db_pdfname}:''" id="current_db_pdfname"/>
</form>
<script src="signature_pad.umd.js?version=3"></script>
<!--
<script src="app.js"></script>
-->
<script>
    var wrapper = document.getElementById("signature-pad");
    var clearButton = wrapper.querySelector("[data-action=clear]");
    var savePNGButton = wrapper.querySelector("[data-action=save-png]");

    var canvas = wrapper.querySelector("canvas");
    var signaturePad = new SignaturePad(canvas, {
        dotSize: 8,
        minWidth: 8,
        maxWidth: 8,
        backgroundColor: 'rgb(255, 255, 255)'
    });


    function resizeCanvas() {

        var ratio = Math.max(window.devicePixelRatio || 1, 1);

        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);

        signaturePad.clear();
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    function download(dataURL, filename) {
        if (navigator.userAgent.indexOf("Safari") > -1 && navigator.userAgent.indexOf("Chrome") === -1) {
            window.open(dataURL);
        } else {
            var blob = dataURLToBlob(dataURL);
            var url = window.URL.createObjectURL(blob);

            var a = document.createElement("a");
            a.style = "display: none";
            a.href = url;
            a.download = filename;

            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);
        }
    }

    function dataURLToBlob(dataURL) {
        // Code taken from https://github.com/ebidel/filer.js
        var parts = dataURL.split(';base64,');
        var contentType = parts[0].split(":")[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;
        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], {type: contentType});
    }

    clearButton.addEventListener("click", function (event) {
        signaturePad.clear();
    });

    savePNGButton.addEventListener("click", function (event) {

        if (signaturePad.isEmpty()) {
            $.alert({
                title: '提醒',
                content: '儲存前請先簽名',
                type: 'blue'
            });
        } else {
            fileUploadAjax();

        }
    });

    function dataURLtoFile(dataURL, fileName) {
        let arr = dataURL.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], fileName, {type: mime});
    }


    function fileUploadAjax() {
        //$.blockUI({
            //message: '<B>資料儲存中...</B>',
            //fadeIn: 700,
            //fadeOut: 700,
        //});

        var dataURL = signaturePad.toDataURL();

        //var form = document.forms[0];
        var formData = new FormData();
        formData.append("signatureFile", dataURLtoFile(dataURL, "signature.png"));
        var fileName = $("#filename").val();
        var filepath = $("#filepath").val();
        var usertype = $("#usertype").val();
        var issigned = $("#issigned").val();
        var totalpages = $("#totalpages").val();
        var current_db_pdfname = $("#current_db_pdfname").val();
        formData.append("fileName", fileName);
        formData.append("filepath", filepath);
        formData.append("usertype", usertype);
        formData.append("issigned", issigned);
        formData.append("totalpages", totalpages);
        formData.append("current_db_pdfname", current_db_pdfname);


        // $(document).ajaxStart(function () {
        //     $.blockUI({
        //         message: '<img src="圖片路徑" />' });
        //
        // }).ajaxStop($.unblockUI);
        // $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);


        $.ajax({
            url: '/save',
            type: 'POST',
            data: formData,
            //async: true,
            //cache: false,
            contentType: false,   // 告訴jQuery不要去設定Content-Type請求頭
            processData: false,   // 告訴jQuery不要去處理發送的資料
            success: function (data) {
                if(data[0]=='OK'){
                    $.dialog({
                        title: '簽章已完成並儲存!',
                        content: '請稍候...將為您顯示簽章結果',
                        type: 'green',
                        typeAnimated: true,
                    });
                    $("#form").attr("action","/resultpage");
                    $("#filename")
                        .attr("value",data[1]);
                    // $("#filepath")
                    //     .attr("th:field",data[2]);
                    $("#form").submit();
                }else if(data=='fail'){

                    $.alert({
                        title: '資料儲存失敗!',
                        content: '請重新進行簽核!',
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            tryAgain: {
                                text: 'Try again',
                                btnClass: 'btn-red',
                                action: function(){
                                    $("#form").attr("action","/openSignaturePad");
                                    $("#form").submit();
                                }
                            }
                        }
                    });


                }

            },
            error: function (data) {

            }
        });
    }
</script>
</body>
</html>
