<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(function () {
             $('input').keyup(function () {
                 var inputValue = $(this).val();
                 $('#span1').html(inputValue);
             })
        })
    </script>
</head>
<body>
<input type="text">
<p>您輸入的內容為: <span id="span1"></span></p>

<h1 th:text="${hello}"></h1>
<br/>
<h1 th:utext="${hello}"></h1>
<br/>
<h3 th:text="${Cars}" th:each="Cars:${Cars}"></h3>
<br/>
<h3>
    <span th:each="Cars:${Cars}">[[${Cars}]]<br/></span>
</h3>
</body>
</html>